/* ====================== Restaurant Details ====================== */

.maincontent {
  display: flex;
  flex-wrap: wrap;
}

.inside .map-container {
  margin-top: 224px;
  max-width: 50%;
  min-height: 800px;
}

.restaurant-container {
  max-width: 48%;
  padding: 0 1%;
  margin-top: 225px;
}

.restaurant-name {
  color: #db2000;
  font-size: 1.3em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 0.8em 0 1.6em;
  text-transform: uppercase;
  line-height: 1.1;
}

.restaurant-img {
	width: 100%;
}

.restaurant-address {
  font-size: 1em;
  margin: 0.6em 0px;
}

.restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.5em;
  margin: 0 auto;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

.reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 1.6em;
  margin: 0.6em auto 0;
  padding: 1.6em;
  width: 80%;
}


.reviews-container h2 {
  color: #db2000;
  font-size: 1.4em;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

.reviews-list {
  margin: 0;
  padding: 0;
}

.reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 1.6em;
  overflow: hidden;
  padding: 1.2em;
  position: relative;
  width: 85%;
}

.reviews-list li p {
  margin: 0 0 0.8em;
}

.restaurant-hours td {
  color: #666;
}

/*
 * review-form
 */

.review-form {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  width: 100%;
}

input,
textarea {
  margin: 5px;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.review-btn {
  background-color: #db2000;
  color: #ddd
}

.review-btn:hover {
  color: #fff
}

/* Star Rating */

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px auto; }

.rating {
  margin: 0 auto;
  border: none;
  float: left;
}

.rating > input {
  width: auto;
  display: none;
 }

 .rating > label {
   width: auto;
   display: inline-block;
  }

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}


.rating > label {
  color: #ddd;
 float: right;
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

/* Favorite buttn */
.favorite {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px auto;
}

.favorite-btn-header {
  text-align: center;
  width: 100%;
}

.star {
  width: 30px;
  height: 30px;
  margin: auto;
  background-color: transparent;
  display: block !important;
}

.fa-star {
  width: 30px;
  margin: 10px auto;
  font-size: 30px;
  color: #aaa;
  display: block;
}

.star-color-red {
  color: red;
}
